
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body{
    background: #03002e;
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #03002e;
    animation:  showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a{
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active
{
    color: #99CCED;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    background: transparent;
    max-width: 600px;

}

.home-content h1{
    position: relative;
    font-size: 47px;
    font-weight:700;
    line-height: 1.2;
}
.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #03002e;
    animation:  showRight 1s ease forwards;
    animation-delay: 1s;
}


.home-content h3{
    position: relative;
    font-size: 36px;
    font-weight: 700;
    color: #99CCED;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #03002e;
    animation:  showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p{
    position: relative;
    font-size: 24px;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #03002e;
    animation:  showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.image{
    margin-right: -10%;
    height: 60vh;
    width: auto;
    display: flex;
    padding: 0 10%;
    vertical-align: bottom;
    animation: fadeIn 5s;
}

.image img{
    height: 550px;
}
/*KEYFRAMES ANIMATION*/

@keyframes showRight {
    100%{
        width: 0;
    }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.myPDF{
    width: 817px;
    height: 800px;
    align-items: center;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

